* {
   -webkit-tap-highlight-color: transparent;
}

body {
   margin: 0;
   color: white;
   font-family: sans-serif;
   background-color: hsl(245, 10%, 7%);
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: hsl(245, 10%, 5%);
   min-height: 64px;
}

nav a {
   display: flex;
   justify-content: center;
   align-items: center;
}

nav img {
   margin-left: 16px;
   max-width: 48px;
   border-radius: 10px;
   transition: border-radius 0.2s;
}

nav img:hover {
   border-radius: 5px;
}

nav ul {
   display: flex;
   list-style-type: none;
   gap: 16px;
   margin-right: 16px;
}

nav ul a {
   color: hsl(245, 10%, 5%);
   background-color: hsl(250, 80%, 70%);
   padding: 8px;
   text-decoration: none;
   border-radius: 10px;
   transition: border-radius 0.3s;
}

nav ul a:hover {
   border-radius: 5px;
}

nav .btn {
   display: none;
}

@media only screen and (max-width: 500px) {
   nav ul {
      display: none;
   }

   nav .btn {
      display: flex;
      margin: 0;
      border-style: none;
      background-color: transparent;
      margin-right: 16px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: hsl(250, 80%, 70%);
      border-radius: 10px;
      transition: border-radius 0.3s;
      height: 46px;
      width: 48px;
   }

   nav .btn:hover {
      border-radius: 5px;
   }

   nav .btn img {
      margin: 0;
      padding: 0;
   }
}

.title {
   font-size: 36px;
   text-align: center;
}

.subtitle {
   font-size: 24px;
   text-align: center;
   margin-left: 8px;
   margin-right: 8px;
}

/* all of these are under .main */

.mainlogo {
   max-width: clamp(250px, 90%, 750px);
   border-radius: 10px;
}

.bigtext {
   text-align: center;
   font-size: 18px;
}

.btn {
   display: flex;
   justify-content: center;
   align-items: center;
}

.btn a {
   color: hsl(245, 10%, 7%);
   text-decoration: none;
   background-color: hsl(250, 80%, 70%);
   border-radius: 5px;
   padding: 15px;
   margin-top: 5%;
   font-weight: 500;
   transition:
      background-color 0.3s,
      transform 0.3s,
      color 0.3s;
}

.btn a:hover {
   background-color: hsl(250, 80%, 60%);
   transform: translateY(-12px);
   color: white;
}

.main {
   display: grid;
   grid-template-columns: 1fr;
   justify-items: center;
   align-items: center;
   gap: 0px;
   max-width: 1500px;
}

.maincontainer {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 48px;
}

@media only screen and (min-width: 600px) {
   .bigtext {
      font-size: 24px;
   }

   .btn a {
      padding: 25px 35px 25px 35px;
      font-size: 20px;
   }

   .main {
      grid-template-columns: 1fr 1fr;
   }
}

.teamtext {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 16px;
}

.teamtext h3,
.teamtext h1 {
   text-align: center;
}

.teamtext p {
   max-width: 50ch;
}

.teamtext a {
   color: hsl(250, 80%, 80%);
   text-decoration: none;
}

.teamtext a:hover {
   color: hsl(250, 80%, 70%);
}

/* End of elements under .main */

footer {
   background-color: hsl(245, 10%, 5%);
}

footer ul {
   display: flex;
   list-style-type: none;
   padding: 0;
   gap: 16px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 8px;
   margin: 0;
}

footer a {
   color: hsl(250, 80%, 80%);
   text-decoration: none;
}

footer a:hover {
   color: hsl(250, 80%, 60%);
}

@media only screen and (min-width: 600px) {
   footer ul {
      flex-direction: row;
   }
}
